# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build output
dist
build

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
